.pstatitle {
    display: flex;
    justify-items: center;
    justify-content: center;  
}
.posts {
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.blackBtn {
    padding: 5px 15px;
    border-radius: 16px;
    background-color: black;
    color: white;
    transition: 2s;
}

.blackBtn:hover {
    background-color: rgba(1, 1, 1, 0.8)
}