.post {
    margin-left: 20vw;
    margin-right: 20vw;
    min-width: 60vw;
}
.postContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deleteBtn svg {
    font-size: 20px;
}