.blogPage {
    position: relative;
}

.blogPage .preloader {
    position: absolute;
    left: 50%;
    top: 50%;
}

.addNewPost {
    text-align: center;
}

.pstatitle {
    display: flex;
    justify-items: center;
    justify-content: center;  
}
.posts {
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

